@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Barlow Condensed', sans-serif;
}

body {
  padding-top: 50px;
}

.top-nav {
  background: #b71c1c;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.landing {
  background-image: url("../img/landing-mtn-md.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 3px #000;
}
